<div class="simple-form">
      <%= simple_form_for @image, url: place_images_path(@place) do |f| %>
        <div class="modal-body">
        <div class="comment-section" class="form-style">
        <div class="comment-message">
              <%= f.input :image %>
              <%= f.input :caption %>
        </div>
        <div class="modal-footer">
        <br />
            <div class="photo-button"><button class="btn btn-sharp-upload" data-toggle="modal" data-target="#myModal">
            <%= send_to "Upload Photo", image_create(@place) %>
            </div>
            <div class="clear"></div>
            <br/>
        <%= f.submit 'Upload', class: 'btn btn-sharp' %>
        <button type="button" class="btn btn-sharp" data-dismiss="modal">Close</button>
      <%end%>
        </div>

        </div>
        </div>

    </div>