
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Enter Your Place Details</h1>
    <div class="form-style">
    <%= simple_form_for @place do |f| %>
      <%= f.input :name, :input_html => { :class => 'input' } %>
      <br />
      <%= f.input :address, :input_html => { :class => 'input' } %>
      <br />
      <%= f.input :description, :input_html => { :class => 'input-description' } %>
      <br />
      <div class="photo-form">
      <%= f.input :image, :input_html => { :class => 'input-image'} %>
          <% if !@image.errors.empty? %>
             <div class = "alert alert-error">
                
                <ul>
                   <% @image.errors.full_messages.each do |msg| %>
                      <li><%= No attachment %></li>
                   <% end %>
                </ul>
                
             </div>
          <% end %>

          <div class = "well">
             <%= form_for @image, html: { multipart: true } do |f| %>
                <%= f.text_field :caption %>
                <%= f.label :attachment %>
                <%= f.file_field :attachment %>
                <%= f.submit "Upload", class: "btn btn-sharp" %>
             <% end %>
          </div>
      </div>
      <br />
      <%= f.submit 'Create', class: 'btn btn-sharp' %>
    <% end %>
    </div>
</div>

