
<div class="booyah-box col-xs-10 col-xs-offset-1">


  <h1><%= @place.name %></h1>
  <h5><%= @place.address %></h5><br/>

  <% if @place.latitude.present? && @place.longitude.present? %>

    <div id="map"></div>
    <script>
      function initMap() {
        // Styles a map in night mode.
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 15,
          scrollwheel: false,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });

        var marker = new google.maps.Marker ({
          position: myLatLng,
          map: map,
        });
      }
    </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARiezVR2lQ-UrD1d00e58KHsu91UmxGVw&callback=initMap"
    async defer></script>


  <% end %>


  <br />

  <h3>About</h3>

  <br />

    <div class="description">
      <p><%= @place.description %></p><br/>
    </div>

 <div class="pull-right">
         <% if current_user && current_user == @place.user %>
        <%= link_to 'Edit', edit_place_path(@place) %>
        <%end%>
  </div>
  <br />

    <div class="pull-right">
      <% if @place.user.present? %>
            <div class='email'>
            <span style="font-weight:bold"></span>

            <span style="font-weight:bold"> - </span>
            <email><%= @place.user.email %></email>
            </div>
        <% end %>
    </div>

    <br />
    <div class="clear"></div>
        <!-- Button trigger modal -->
    <button class="btn btn-sharp-leave" data-toggle="modal" data-target="#myModal">
      Leave a Comment
    </button>

    <div class="clear"?></div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add a comment:</h4>
          </div>


    <div class="simple-form">
      <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
        <div class="modal-body">
        <div class="comment-section" class="form-style">
        <div class="comment-message">
              <%= f.input :message %>
              <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
        </div>
        <div class="modal-footer">
                <div class="photo-button"><button class="btn btn-sharp-leave" data-toggle="modal" data-target="#myModal">
                    Upload a Photo
        </div>
        <%= link_to "Upload Photo", image_new_path, class: 'btn btn-sharp' %>
            <div class="clear"></div>
        <%= f.submit 'Submit', class: 'btn btn-sharp' %>
      <%end%>
        </div>

        </div>
        </div>

    </div>

    <div class="clear"></div>
  
        </div>
      </div>
    </div>
  <br />
  <br />

  <div class="comment-footer"> <h3>Comments</h3></div>
  <hr class="line"/>
  <br />
  <br />
    <% @place.comments.each do |comment| %>
      <div class="col-xs-12 col-sm-6">
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> - 
          <% end %>
          <%= comment.message %>
          <small><%= comment.user.email %></small>
      </blockquote>
      </div>
    <% end %> 
    </div>

</div>




