
<div class="booyah-box col-xs-10 col-xs-offset-1">


  <h1><%= @place.name %></h1>
  <h5><%= @place.address %></h5><br/><br/>
  <br/><br/>

     
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 300px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>


    <script>
      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/apijs?key=AIzaSyARiezVR2lQ-UrD1d00e58KHsu91UmxGVw&callback=initMap"></script>

    <div class="description">
      <p><%= @place.description %></p><br/>
        <% if @place.user.present? %>
          <div class='email'>
          <email><%= @place.user.email %></email>
        <% end %>
    </div>


  <div class="pull-right">
    <% if current_user && current_user == @place.user %>
        <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-sharp'%>
    <%end%>
  </div>

</div>




