
<div class="booyah-box col-xs-10 col-xs-offset-1">


  <h1><%= @place.name %></h1>
  <h5><%= @place.address %></h5><br/><br/>
  <br/><br/>

  <% if @place.latitude.present? && @place.longitude.present? %>

    <div style="height:300px; width: 300px; position: absolute"> 
    <script>
      function initMap() {
        var myLatLng = {
            lat: <%= @place.latitude %>, 
            lng: <%= @place.longitude %>
          };

          var mapOptions = {
            center: myLatLng,
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.HYBRID
          };

        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: @place.name 
        });
      }
      
    </script>

    <script async defer src="https://maps.googleapis.com/maps/apijs?key=AIzaSyARiezVR2lQ-UrD1d00e58KHsu91UmxGVw&callback=initMap"></script>

    <div id="map_canvas"></div>
    </div>

  <% end %>


  <br />

    <div class="description">
      <p><%= @place.description %></p><br/>
        <% if @place.user.present? %>
            <div class='email'>
            <email><%= @place.user.email %></email>
            </div>
        <% end %>
    </div>


  <div class="pull-right">
    <% if current_user && current_user == @place.user %>
        <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-sharp'%>
    <%end%>
  </div>

</div>




